<%= turbo_stream.replace "invoice_status" do %>
  <span class="<%= status_badge_class(@invoice[:status]) %>">
    <%= @invoice[:status].humanize %>
  </span>
<% end %>

<%= turbo_stream.replace "current_workflow_status" do %>
  <div class="flex items-center space-x-2" id="current_workflow_status">
    <span class="text-sm text-gray-500">Current Status:</span>
    <span class="<%= status_badge_class(@invoice[:current_state] || @invoice[:status]) %>">
      <%= (@invoice[:current_state_name] || @invoice[:status]).humanize %>
    </span>
  </div>
<% end %>

<%= turbo_stream.replace "workflow_content" do %>
  <%= render 'content' %>
<% end %>

<%= turbo_stream.append "toast_container" do %>
  <div data-controller="toast" 
       data-toast-message-value="Status successfully updated to <%= @invoice[:status] %>"
       class="hidden"></div>
<% end %>